html
  head
    title FCC Advanced Node and Express - 404
    meta(name='description', content='404')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center Holy crap! 404!
    h2.center#welcome What did you doooooooo?